node_modules

load-balancer/package-lock.json
load-balancer/node_modules/.package-lock.json

server/package-lock.json
client/package-lock.json
server/temp
server/uploads
server/.env
server/.env.development
render_service_alive_mechanism/.env
render_service_alive_mechanism/package-lock.json
MEDIACONVERT_INTEGRATION.md
aws-mediaconvert-policy.json
mobile/build
hellwatch_mobile/
mobile/.dart_tool/
mobile/android/.gradle
mobile/android/app/build
mobile/android/.idea
mobile/android/local.properties
mobile/linux/flutter/
mobile/linux/flutter/ephemeral
mobile/windows/flutter/
mobile/windows/flutter/ephemeral
mobile/macos/Flutter/ephemeral
mobile/ios/Flutter/
mobile/ios/Pods
mobile/.flutter-plugins-dependencies
mobile/ios/Runner

backend_services/streaming_service/src/main/resources/application.properties
backend_services/streaming_service/src/main/resources/log4jdbc.log4j2.properties
backend_services/streaming_service/target
backend_services/streaming_service/.idea
